html {height: 100%;}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(
        circle at top right,
        var(--bg-body-circle),
        var(--bg-body),
        var(--bg-body-alt)
    );
    color: var(--text-secondary);
    background-position: center;
    background-attachment: fixed;
    text-wrap: balance;
}
.text-hero-highlight {
    background: linear-gradient(to right, var(--text-hero-highlight), var(--text-hero-highlight-alt));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.text-hero-main {
    background: linear-gradient(to right, var(--text-hero-main), var(--text-hero-main-alt));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.text-secondary {
    background: linear-gradient(to right, var(--text-secondary), var(--text-secondary-alt));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 1.6rem;
}
.item-highlight-container {
    background: linear-gradient(to bottom, var(--bg-text-container-item), var(--bg-text-container-item-alt));
    padding-block: 30px;
    padding-inline: 70px;    
    border-radius: 30px;
    border: var(--text-secondary) solid 2px;
    box-shadow: 0 0 40px var(--bg-shadow);
}
.highlight-container {
    background: linear-gradient(to bottom, var(--bg-text-container-item), var(--bg-text-container-item-alt));
    padding-block: 30px;
    padding-inline: 70px;    
    border-radius: 30px;
    height: 100%;
    width: 100%;
    border: var(--text-secondary) solid 2px;
    box-shadow: 0 0 40px var(--bg-shadow);
}
.highlight-container-bgless {
    padding-block: 30px;
    padding-inline: 70px;    
    border-radius: 30px;
    height: 100%;
    width: 100%;
}
.nav-link:hover {
    transition: all linear 0.5s;
    border-bottom: var(--text-hero-highlight-alt) solid 1px;
}
.portrait {
    width: 350px;
    border-bottom: var(--text-hero-highlight) solid 2px;
}
#projectContainer {display: flex; flex-direction: row;}
@media (max-width:900px) {
    .item-highlight-container {
        padding-inline: 100px;
    }
    .highlight-container, .highlight-container-bgless {
        padding-inline: 40px;
    }
    .mob-hidden {display: none;}
}
@media (max-width:1200px) {
    #projectContainer {
        flex-direction: column;
    }
}