html,body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    background-color: #000;
}
#currentImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    margin-top: 40px;
}
#prevBtn, #nextBtn {
    position: fixed;
    top: 0;
    z-index: 50;
    width: 20vw;
    height: 100%;
    color: var(--text-main);
    background-color:#ffffff00;
    border: none;
    display: flex;
    flex-direction: column;
    font-size: 32px;
    justify-content: center;
}
#prevBtn:hover, #nextBtn:hover {
    transition: all 0.17s ease-in-out;
    background-color:#ffffff2a;
    background-color: rgba(255, 255, 255, 0.055);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
#prevBtn {
    left: 0;
}
#nextBtn {
    right: 0;
}
.bottom-content {
    position: fixed;
    bottom: 0;
    left: 50%;
    color: #fff;
    margin-block: 15px;
    border: #ffffff50 solid 1px;
    border-radius: 12px;
    padding: 5px;
    width: 350px;
    transform: translateX(-175px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.055);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}
.typeBtn {
    background-color: #00000000;
    color: #fff;
    border: #ffffff00 solid 1px;
    padding: 15px;
    border-radius: 12px;
}
.typeBtn:hover {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    color: #fff;
    border: #ffffff50 solid 1px;
}