::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--dark-gray);
}

::-webkit-scrollbar-thumb {
  background: var(--gray);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gray-alt);
}

* {box-sizing: border-box;}
html {
    scroll-behavior: smooth;
}
html,body {
    height: 100%;
    margin: 0;
}
p {margin: 0;}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    color: var(--text-main);
}
body{
    background: var(--bg-body);
    color: var(--text-secondary);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    min-width:300px;
    zoom: 110%;
}
.top-gradient {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #ffffff00 75%, var(--bg-nav) 98%);
    pointer-events: none;

}
.top-line {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 100px);
    height: 100%;
    border-inline: var(--gray-alt) solid 1px;
    margin-inline: 50px;
    pointer-events: none;
    z-index: -1;
}
.top-nav {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 55px;
    width: 100%;
    background-color: var(--bg-nav);
    border-bottom: var(--gray) 1px solid;
}
.margin-1 {
    width: calc(100% - 100px);
    margin-inline: 50px;
<<<<<<< Updated upstream
}
.mob-view-1 {
    display: flex;
    flex-direction: row;
}
.max1600 {max-width: 1600px; width: 100%;}
.max1400 {max-width: 1400px; width: 100%;}
.max1200 {max-width: 1200px; width: 100%;}
.row,.col {display: flex;}
.row {flex-direction: row;}
.col {flex-direction: column;}

.jcsb {justify-content: space-between;}
.jcc {justify-content: center;}

.aic {align-items: center;}
.ail {align-items: left;}
.air {align-items: right;}

/*align self*/
.asc,.asl,.asr {display: flex;}
.asc {align-self: center;}
.asl {align-self: left;}
.asr {align-self: right;}

/*justify self*/
.jsc,.jsl,.jsr {display: flex;}
.jsc {justify-self: center;}
.jsl {justify-self: left;}
.jsr {justify-self: right;}

.w100 {width: 100%;}
.w75 {width: 75%;}
.w50 {width: 50%;}


.w800p {width: 800px;}
.w600p {width: 600px;}
.w500p {width: 500px;}
.w400p {width: 400px;}
.w300p {width: 300px;}
.w200p {width: 200px;}
.w100p {width: 100px;}
.w32p {width: 32px;}

.h100 {height: 100%;}
.h50 {height: 50%;}

.vh100 {height: 100vh;}

.h800p {height: 800px;}
.h600p {height: 600px;}
.h500p {height: 500px;}
.h400p {height: 400px;}
.h300p {height: 300px;}
.h32p {height: 32px;}
.m-h600p {min-height: 600px;}
.m-h350p {min-height: 350px;}

.g5 {gap: 5px;}
.g10 {gap: 10px;}
.g15 {gap: 15px;}
.g25 {gap: 25px;}
.g50 {gap: 50px;}

.fs48 {font-size: 48px;}
.fs32 {font-size: 32px;}
.fs36 {font-size: 36px;}
.fs42 {font-size: 42px;}
.fs28 {font-size: 28px;}
.fs24 {font-size: 24px;}
.fs18 {font-size: 18px;}
.general-padding {padding: 15px;}
#btnThemeChange{
    width: 48px;
    height: 48px;
    filter: invert(var(--image-invert-ratio));
}
#btnThemeChange:hover{
    transition: all 0.17s ease-in-out;
    filter: invert(var(--image-invert-ratio-h));
}
.nav-link {
    color: var(--text-main);
    text-decoration: none;
}
.nav-link:hover {
    color: var(--text-main-alt);
    text-decoration: underline;
}
.main-btn {
    color: var(--text-main);
    background-color: var(--btn-bg);
    padding: 10px;
    font-weight: 400;
    text-decoration: none;
}
.main-btn:hover {
    color: var(--text-main-alt);
    background-color: var(--btn-bg-hover);
}

.secondary-btn {
    color: var(--text-main);
    border-radius: 12px;
    padding: 10px;
    font-weight: 100;
    text-decoration: none;
    border: var(--text-main) dashed 1px;
}
.secondary-btn:hover {
    color: var(--text-main-alt);
    border: var(--text-secondary) dashed 1px;
}

.hero-header {
    font-size: 64px;
}
.hero-paragraph {
    font-size: 24px;
    font-weight: 100;
}
.container {
    border: var(--gray) 1px solid;
    padding-top: 15px;
    background: linear-gradient(to bottom, var(--bg-nav), var(--bg-nav-alt));
    border-radius: 24px;
}
=======
}
.mob-view-1 {
    display: flex;
    flex-direction: row;
}
.max1600 {max-width: 1600px; width: 100%;}
.max1400 {max-width: 1400px; width: 100%;}
.max1200 {max-width: 1200px; width: 100%;}
.row,.col {display: flex;}
.row {flex-direction: row;}
.col {flex-direction: column;}

.jcsb {justify-content: space-between;}
.jcc {justify-content: center;}

.aic {align-items: center;}
.ail {align-items: left;}
.air {align-items: right;}

/*align self*/
.asc,.asl,.asr {display: flex;}
.asc {align-self: center;}
.asl {align-self: left;}
.asr {align-self: right;}

/*justify self*/
.jsc,.jsl,.jsr {display: flex;}
.jsc {justify-self: center;}
.jsl {justify-self: left;}
.jsr {justify-self: right;}

.w100 {width: 100%;}
.w75 {width: 75%;}
.w50 {width: 50%;}


.w800p {width: 800px;}
.w600p {width: 600px;}
.w500p {width: 500px;}
.w400p {width: 400px;}
.w300p {width: 300px;}
.w200p {width: 200px;}
.w100p {width: 100px;}
.w32p {width: 32px;}

.h100 {height: 100%;}
.h50 {height: 50%;}

.vh100 {height: 100vh;}

.h800p {height: 800px;}
.h600p {height: 600px;}
.h500p {height: 500px;}
.h400p {height: 400px;}
.h300p {height: 300px;}
.h32p {height: 32px;}
.m-h600p {min-height: 600px;}
.m-h350p {min-height: 350px;}

.g5 {gap: 5px;}
.g10 {gap: 10px;}
.g15 {gap: 15px;}
.g25 {gap: 25px;}
.g50 {gap: 50px;}

.fs48 {font-size: 48px;}
.fs32 {font-size: 32px;}
.fs36 {font-size: 36px;}
.fs42 {font-size: 42px;}
.fs28 {font-size: 28px;}
.fs24 {font-size: 24px;}
.fs18 {font-size: 18px;}
.general-padding {padding: 15px;}

#btnThemeChange{
    width: 48px;
    height: 48px;
    filter: invert(var(--image-invert-ratio));
}

#btnThemeChange:hover{
    transition: all 0.17s ease-in-out;
    filter: invert(var(--image-invert-ratio-h));
}

.nav-link {
    color: var(--text-main);
    text-decoration: none;
}
.nav-link:hover {
    color: var(--text-main-alt);
    text-decoration: underline;
}
.main-btn {
    color: var(--text-main);
    background-color: var(--btn-bg);
    padding: 10px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 6px;
}
.main-btn:hover {
    color: var(--text-main-alt);
    background-color: var(--btn-bg-hover);
}

.secondary-btn {
    color: var(--text-main);
    border-radius: 12px;
    padding: 10px;
    font-weight: 100;
    text-decoration: none;
    border: var(--text-main) dashed 1px;
}
.secondary-btn:hover {
    color: var(--text-main-alt);
    border: var(--text-secondary) dashed 1px;
}

.hero-header {
    font-size: 64px;
}
.hero-paragraph {
    font-size: 24px;
    font-weight: 100;
}
.container {
    border: var(--gray) 1px solid;
    padding-top: 15px;
    background: linear-gradient(to bottom, var(--bg-nav), var(--bg-nav-alt));
    border-radius: 24px;
}
>>>>>>> Stashed changes
.container-no-p {
    border: var(--gray) 1px solid;
    background: linear-gradient(to bottom, var(--bg-nav), var(--bg-nav-alt));
    border-radius: 24px;
}
.img-wrapper {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}
.img-showcase {
    width: 140%;
    object-fit: cover;
    transform: rotateX(65deg) rotateZ(35deg) translateY(-440px) translateX(-200px);
    position: relative;
    z-index: 1;
}
.img-project {
    border-radius: 24px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 100%;
    min-width: 500px;
    height: 600px;
    object-fit: cover;
}
.click-hover {cursor: pointer;}
#openNav {
    width: 50px;
    height: 50px;
    border: var(--gray) 1px solid;
    background: linear-gradient(to bottom, var(--bg-nav), var(--bg-nav-alt));
    border-radius: 12px;
    color: var(--text-main);
    font-size: 32px;
}
#openNav:hover {
    transition: all 0.34s ease-in-out;
    color: var(--text-main-alt);
    transform: rotateZ(-90deg);
}
.top-gray {
    border-top: var(--gray) solid 1px;
    margin-top: 3px;
}
.ico-invert {
    filter: invert(90%);
}
.ico-invert:hover {
    filter: invert(75%);
}
@media (min-width:1000px) {
    .tab-show {
        display: none;
    }
    .container:hover {
        background: linear-gradient(to bottom, var(--bg-nav), var(--bg-nav));
    }
    
    .img-showcase:hover {
        animation: forwards infinite img-showcase-mover 5s ease-in-out;
    }
    @keyframes img-showcase-mover {
        0% {
            transform: rotateX(65deg) rotateZ(35deg) translateY(-440px) translateX(-200px);
        }
        50% {
            transform: rotateX(65deg) rotateZ(35deg) translateY(-400px) translateX(-200px);
        }
        100% {
            transform: rotateX(65deg) rotateZ(35deg) translateY(-440px) translateX(-200px);
        }
    }
}
@media (max-width:1000px) {
    .tab-show {
        display: flex;
    }
    .tab-hide {
        display: none;
    }
    #btnThemeChange {
        position: fixed;
        top: 16px;
        right: 42px;
        z-index: 1005;
    }
    .img-showcase { 
        transform: rotateX(65deg) rotateZ(35deg) translateY(-600px) translateX(-550px);
    }
}
@media (max-width:1000px) {
    .mob-view-1 {
        flex-direction: column;
    }
    .top-nav {
        height: auto;
        padding-block: 15px;
    }
    .mob-nav-link {
        font-size: 42px;
    }
    .img-project {
        border-bottom-left-radius: 0px;
        border-top-right-radius: 24px;
        width: 100%;
        height: unset;
        aspect-ratio: 2 / 1;
        min-width: unset;
    }
}
@media (max-width:800px) {
    
    .img-showcase { 
        transform: rotateX(65deg) rotateZ(35deg) translateY(-300px) translateX(-350px);
    }
}
@media (max-width:600px) {
    .mob-view-2 {
        flex-direction: column;
    }
}
