:root {
    /*===============*/
    /*==BG SETTINGS==*/
    /*===============*/

    --bg-body:#11101b;
    --bg-body-alt:#191c2b;
    --bg-body-circle:#24293f;
    --bg-body-highlight:#595377;
    
    --bg-text-container:#232228;

    --bg-text-container-item:#2A2634;
    --bg-text-container-item-alt:#11111D;

    
    --bg-shadow:rgba(59, 130, 246, 0.25);
    /*===============*/
    /*==TXT SETTING==*/
    /*===============*/

    --text-hero-highlight:#39748d;
    --text-hero-highlight-alt:#C5CDD8;

    --text-hero-main:#34B7BF;
    --text-hero-main-alt:#E0F3F9;

    --text-secondary:#666674;
    --text-secondary-alt:#747488;
    
    --link-secondary:#9797b6;
    --link-secondary-alt:#747488;
}