:root {
  /*Base Colors*/
  --color-background: #26272c;
  --color-background-secondary: #3c3f49;
  --bg-body: #26272c;
  --bg-container: #44464e;
  --color-accent: #635247;
  --color-text-link: #dadada;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
main {
    z-index: 1;
}
.show-top {
    z-index: 10;
}
.lan-ui{
    box-shadow: -1px 1px 2px 2px var(--shadow-gray);
}
.lan-ui {
    background: linear-gradient(-45deg, var(--bg-body) 50%,var(--bg-container) 50%);
}
.inverted-icon {
    filter: invert(80%);
}
.nav-link {
    color: var(--color-text-link);
    padding-block: 5px;
    padding-inline: 20px;
    border-bottom: transparent solid 2px;
}
.nav-link:hover {
    transition: all 0.2s linear;
    background: linear-gradient(to top, var(--color-accent), #ffffff00);
    border-bottom: var(--coffee) solid 2px;
}
.bg-secondary {
    background-color: var(--color-background-secondary);
}
.hero-bg {
    background: linear-gradient(to bottom, var(--color-background), var(--color-background-secondary));
    background-size: 50vw;
    height: 700px;
}
.hero-header {
    font-size: 48px;
}
.hero-align {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.hero-texts h1, .hero-texts p {
    white-space: nowrap;
}
.hero-align div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-align div img {
    width: 70%;
    border: #767676 dashed 2px;
    border-top: #4b4d58 solid 8px;
    border-left: #3c3f49 solid 8px;
    box-shadow: -1px 1px 2px 2px var(--bg-body);
}
.info-bg {
    background-color: var(--color-background-secondary);
    background-size: 50vw;
    min-height: 250px;
    border-bottom: var(--coffee) solid 2px;
}
.info-paragraph {
    margin-block: 15px;
}
.stat-align div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.stat-num {
    background-color: var(--bg-container);
    box-shadow: -1px 1px 2px 2px var(--shadow-gray);
    padding: 15px;
}
.col-gap-15 {
    column-gap: 15px;
}
.project-img {
    z-index: 1;
    display: flex;
    justify-self: center;
    align-self: center;
    width: 256px;
}
.project-cont {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: var(--bg-container);
    margin-block: 10px;
    padding: 15px;
    box-shadow: -1px 1px 2px 2px var(--shadow-gray);
    max-width: 590px;
}
#project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.mob-project-text {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    border-top: var(--coffee) solid 2px;
    background-color: var(--bg-container);
    pointer-events: none;
}
.project-img-cont {
    position: relative;
    display: inline-block;
}
.con-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-cont {
    background-color: var(--bg-container);
    padding: 15px;
    box-shadow: -1px 1px 2px 2px var(--shadow-gray);
}
.link-cont {
    background-color: var(--bg-container);
    margin-block: 15px;
    padding: 15px;
    box-shadow: -1px 1px 2px 2px var(--shadow-gray);
    width: 100%;
}
#contact,#more {
    width: 100%;
}
#contactForm {
    display: flex;
    flex-direction: column;
    min-height: 175px;
    justify-content: center;
}
#name, #email, #message {
    margin-block: 5px;
    border-radius: 5px;
    background-color: #3c3f49;
    border: #767676 solid 1px;
    color: #767676;
}
#name:focus, #email:focus, #message:focus {
    box-shadow: -1px 1px 2px 2px var(--shadow-gray);
    border: #212121 solid 2px;
    color: #212121;
}
#name, #email {
    font-size: 1rem;
}
#message {
    font-size: 0.6rem;
    resize: none;
}
#send {
    margin-block: 5px;
    background-color: var(--color-background);
    border: none;
    border-radius: 5px;
    color: var(--color-text-link);
    font-size: 1.1rem;
    box-shadow: -1px 1px 2px 2px var(--shadow-gray);
    background-color: #3c3f49;
}
#send:hover {
    transition: all 0.2s linear;
    background-color: var(--bg-container);
}
.disclaimer {
    font-size: 0.75rem;
}
.line {
    height: 5px;
    width: 20%;
}
.coffee {
    background-color: var(--coffee);
}
.coffee-light {
    background-color: var(--coffee-light);
}    
.h-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
@media (max-width:600px) {
    .mob-hidden {
        display: none;
    }
    .project-cont {
        flex-direction: column;
    }
    .project-img {
        max-width: none;
        width: 100%;
    }
    .project-img:hover + .mob-project-text {
        transition: all 0.4s linear;
        display: block;
    }
    .project-text {
        display: none;
    }
    .project-img:hover {
        transition: all 0.4s linear;
        filter: blur(5px);
    }
    .hero-header {
        font-size: 24px;
    }
}
@media (max-width:900px) {
    .mob-col {
        display: flex;
        flex-direction: column;
    }
    .m-cont {
        width: 100%;
    }
    .con-row {
        flex-direction: column;
    }
    
    .hero-header {
        font-size: 32px;
    }
}
@media (max-width:1300px) {
    .project-cont {
        max-width: none;
        width: 100%;
    }
}